.addNewTransaction {
  display: flex;
  color: black;
  height: 400px;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #F0FFFF;

  &__form {
    display: flex;
    justify-content: center;
  }

  &__inner-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    background-color: #def2f1;
    align-items: center;
    border-left: solid;
    border-right: solid;
    border-width: 1px;
    border-color: black;
    
  }
  &__heading-box {
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 95%;
    align-items: center;
    padding: 10px;
    box-shadow: 0 4px 10px rgb(0 0 0 / 0.2);
    margin-top: 20px;
  }
  &__item-input-1-container {
    display: flex;
    flex-direction: column;
    height: 90px;
    padding: 10px;
    justify-content: space-around;
  }
  &__input-1-heading {
    display: flex;
    width: 100px;
    height: 25px;
    color: black;
    align-items: center;
    font-size: 13px;
  }
  &__input-1-box {
    display: flex;
    width: 100%;
    height: 30px;
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    padding: 5px;
    background-color: white;
    align-items: center;
  }
  &__input-1 {
    display: flex;
    width: 100%;
    height: 25x;
    border: none;
    outline: none;
  }

  //input-2
  &__amount-input-2-container {
    display: flex;
    flex-direction: column;
    height: 90px;
    padding: 10px;
    justify-content: space-around;
  }
  &__input-2-heading {
    display: flex;
    width: 100px;
    height: 25px;
    color: black;
    align-items: center;
    font-size: 13px;
  }
  &__input-2-box {
    display: flex;
    width: 100%;
    height: 30px;
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    padding: 5px;
    background-color: white;
    align-items: center;
  }
  &__input-2 {
    display: flex;
    width: 100%;
    height: 25px;
    border: none;
    outline: none;
  }
  // input-3
  &__income-input-3-container {
    display: flex;
    flex-direction: column;
    height: 90px;
    padding: 10px;
    justify-content: space-around;
  }
  &__input-3-heading {
    display: flex;
    width: 100px;
    height: 25px;
    color: black;
    align-items: center;
    font-size: 13px;
  }
  &__input-3-box {
    display: flex;
    width: 100%;
    height: 30px;
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    padding: 5px;
    background-color: white;
    align-items: center;
  }
  &__input-3 {
    display: flex;
    width: 100%;
    height: 25px;
    border: none;
    outline: none;
  }
  // add button
  &__btn {
    display: flex;
    height: 40px;
    width: 95%;
    align-items: center;
    justify-content: center;
    border: solid;
    border-radius: 1px;
    border-width: 1px;
  }
  &__btn:hover {
    background-color: #1e90ff;
    color: white;
  }
}
