.balance {
  display: flex;
  color: black;
  height: 300px;
  width: 100%;
  justify-content: center;
  background-color: #f0ffff;
  align-items: center;
  &__inner-wrapper {
    display: flex;
    flex-direction: column;
    flex: column;
    height: 200px;
    width: 400px;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: #def2f1;
    margin-top: 100px;
    border-left: solid;
    border-top: solid;
    border-right: solid;
    border-width: 1px;
  }
  &__heading-and-amount-container {
    display: flex;
    flex-direction: column;
    height: 45px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  &__heading-container {
    display: flex;
    height: 20px;
    width: 100px;
    text-align: center;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }
  &__heading {
    font-size: 12px;
    color: black;
  }
  &__amount-container {
    display: flex;
    height: 25px;
    width: 100px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }
  &__amount {
    display: flex;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    align-items: center;
    justify-content: center;
  }
  &__income-expense-container {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 400px;
    align-items: center;
    justify-content: center;
  }
  &__income-expense-inner-container {
    display: flex;
    height: 80px;
    width: 250px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }

  //Income section
  &__income-heading-amount-container {
    display: flex;
    flex-direction: column;
    height: 79px;
    width: 125px;
    justify-content: center;
  }
  &__income-heading-container {
    display: flex;
    height: 30px;
    width: 120px;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: black;
  }

  &__income-amount-container {
    display: flex;
    height: 30px;
    width: 120px;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: green;
  }

  //Expense section
  &__expense-heading-amount-container {
    display: flex;
    flex-direction: column;
    height: 79px;
    width: 125px;
    justify-content: center;
    border-left: solid;
    border-width: 0.5px;
  }
  &__expense-heading-container {
    display: flex;
    height: 30px;
    width: 120px;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: black;
  }

  &__expense-amount-container {
    display: flex;
    height: 30px;
    width: 120px;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: red;
  }
}
